<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 align="right"><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        <p align="right"><b>{{ site.description | default: site.github.project_tagline }}</b></p>

        <hr align="left"/>
        <p align="right" class="view"><a href="/research">Research</a></p>
        <p align="right" class="view"><a href="/team">Team</a></p>
        <p align="right" class="view"><a href="/laboratory">Laboratory</a></p>
        <p align="right" class="view"><a href="/publications">Publications</a></p>
        <p align="right" class="view"><a href="/cv">CV</a></p>
        <p><a href="https://scholar.google.com/citations?user=Z1VKIocAAAAJ&hl=en"><img src="images/googlescholar_icon.png" alt="Google Scholar icon" width="40" align="right" style="margin-left: 20px;"></a>
          <a href="https://www.researchgate.net/profile/David-Kemp-2"><img src="images/researchgate_icon.png" alt="ResearchGate icon" width="40" align="right"></a></p>
        <p><a href="https://en.cug.edu.cn/"><img src="images/cuglogo.png" alt="CUG logo" width="100" align="right"></a></p>
  
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
